{% if theme_extra_nav_links %}
<ul style="list-style-type: '➤';">
    {% for text, uri in theme_extra_nav_links.items() %}
    {% if not "www" in uri %}
        <li class="toctree-l1"><a href="{{  pathto(uri, 1) }}">{{ text }}</a></li>
    {% else %}
        <li class="toctree-l1"><a href="{{ uri }}">{{ text }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
<hr />
{% endif %}
<h4>{{ _('Navigation') }}</h4>
{{ toctree(includehidden=theme_sidebar_includehidden, collapse=theme_sidebar_collapse) }}